# Ambiente virtual
venv/
.env/
.gitignore

# Pacotes
package/
*.egg-info/
*.egg

# Banco de dados SQLite
*.sqlite3
*.db

# Imagens
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico

# Arquivos de configuração e cache
*.pyc
__pycache__/
*.pyo
*.pyd
*.log

# Configurações do IDE
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.njsproj
*.sln
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db

# Outras pastas que podem ser adicionadas conforme necessário
node_modules/
dist/
build/
